#login-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    color: rgb(255, 252, 252);
    border: 1px solid hsl(0, 19%, 23%);
    border-radius: 5px;
    box-shadow: 0 0 10px 1px;
}

#login-container h1 {
    margin-bottom: 50px;
}



#login-container input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid hsl(0, 19%, 23%);
    border-radius: 3px;
}

#login-container button {
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    background-color: lab(0% 0 0);
    color: #fdfdfd;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}